logs/
old/
oldresults
figures_png
pdffiles
logs/
tables/
results/
plots/
chromopainterparsedout/
phylogene/
genefiles/
figures_png/
finehits/
finestructure

shjob*
*.log
run*
trial*
.DS_Store
.nfs*
*~
*swp
.Rhistory
